.contents {
  transition: 1.5s opacity;
}

.indev {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #1b262c;
  transition: 1s opacity;
}

.indev-message {
  margin-top: 40vh;
  text-align: center;
  font-family: "Gilroy";
  font-weight: 900;
  font-size: 4em;
  opacity: 0.9;
}

.enter-message {
  margin-top: 5vh;
  text-align: center;
  font-family: "Gilroy";
  font-weight: 900;
  font-size: 2em;
  opacity: 0.4;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}
