@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200;400;700&family=Roboto:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Nunito";
  font-weight: 400;
  color: #fff;
}

body {
  background: #1b262c;
  font-family: "Nunito";
  color: #fff;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(27, 38, 44, 1) 70%
  );
  height: 10vh;
  width: 100%;
}

.navbar-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3vh;
  height: 5vh;
  width: 100%;
  font-size: 1.1rem;
}

.navbar-items .sections {
  position: relative;
  text-decoration: none;
  margin-left: 4%;
}

.navbar-items .sections:hover {
  text-shadow: 0 0 0.05px white, 0 0 0.05px white, 0 0 0.05px white;
}

.nav-active {
  text-shadow: 0 0 0.05px white, 0 0 0.05px white, 0 0 0.05px white;
  border-bottom: 1px solid #3282b8;
}

.nav-active:before {
  content: "";
  position: absolute;
  width: 25%;
  left: 0;
  bottom: -1px;

  background-color: #1b262c;
  height: 1.1px;
}

.nav-active:after {
  content: "";
  position: absolute;
  width: 10%;
  right: 0;
  bottom: -1px;

  background-color: #1b262c;
  height: 1.1px;
}

.contact-btn {
  margin: 0 10% 0 4%;
  text-decoration: none;
  width: 9vw;
}

.navbar-items button {
  width: 100%;
  background-color: #3282b8;
  font-size: 1.1rem;
  border-radius: 6px;
  transition: all 0.5s linear;
}

.navbar-items button:hover {
  background-color: #bbe1fa;
  color: #0f4c75;
}

.navbar-logo {
  margin-left: 10%;
  margin-right: auto;
}

#about {
  margin: 0;
  padding-top: 16vh;
  display: flex;
  flex-direction: row;
  height: 70vmin;
}

.about-left {
  margin-left: 10vw;
  margin-top: 15vmin;
  display: flex;
  flex-direction: column;
  flex: 50%;
}

.about-title {
  font-family: "Bebas Neue";
  letter-spacing: 0.2em;
  font-size: 1.3em;
  margin-bottom: 3vh;
}

.about-name {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 4.5em;
  line-height: 1em;
  margin-left: -0.05em;
  margin-bottom: 3vh;
}

.about-intro {
  font-weight: 200;
}

.about-intro span {
  font-weight: 700;
}

.about-right {
  flex: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#about img {
  width: 100%;
  height: auto;
  padding-right: 10vw;
}
