@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200;400;700&family=Roboto:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Nunito";
  font-weight: 400;
  color: #fff;
}

body {
  background: #1b262c;
  font-family: "Nunito";
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3vh;
  height: 5vh;
  width: 100%;
  font-size: 1.1rem;
}

.navbar a {
  position: relative;
  text-decoration: none;
  margin-left: 4%;
}

.navbar a:hover {
  font-weight: bolder;
}

.nav-active {
  font-weight: bolder;
  border-bottom: 1px solid #3282b8;
}

.nav-active:before {
  content: "";
  position: absolute;
  width: 25%;
  left: 0;
  bottom: -1px;

  background-color: #1b262c;
  height: 1.1px;
}

.nav-active:after {
  content: "";
  position: absolute;
  width: 10%;
  right: 0;
  bottom: -1px;

  background-color: #1b262c;
  height: 1.1px;
}

.navbar button {
  background-color: #3282b8;
  display: inline;
  font-size: 1.1rem;
  border: 0;
  padding: 0.2% 1.5%;
  border-radius: 6px;
  margin: 0 10% 0 4%;
  transition: all 0.5s linear;
}

.navbar button:hover {
  background-color: #bbe1fa;
  color: #0f4c75;
}

.navbar-logo {
  margin-left: 10%;
  margin-right: auto;
}

#about {
  margin: 0;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  height: 70vh;
}

.about-left {
  margin-left: 10vw;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.about-title {
  font-family: "Bebas Neue";
  letter-spacing: 0.2em;
  font-size: 1.3em;
  margin-bottom: 3vh;
}

.about-name {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 4.5em;
  line-height: 1em;
  margin-left: -0.05em;
  margin-bottom: 3vh;
}

.about-intro {
  font-weight: 200;
}

.about-intro span {
  font-weight: 700;
}

.about-right {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#about img {
  height: 100%;
  padding-right: 10vw;
}
